HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### MAVEN ###
.mvn/
/mvnw
quiz/package-lock.json
quiz/.firebase/hosting.ZGlzdFxxdWl6.cache
quiz/firebase-tools-instant-win.exe
quiz/.firebase/hosting.ZGlzdFxxdWl6XGJyb3dzZXI.cache
