.justifica {
    justify-content: center !important;
    display: flex;

    a {
        color: #f3f3f3;
    }
}

#wrapper{
    margin-bottom: 1rem;
}

.logout{
    color: #FFF;
    justify-content: end;
}

.logout:hover{
    cursor: pointer;
    color: rgb(177, 100, 250);
}